<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  data-layout-decorate="~{layout/default}">
	<div layout:fragment="mainFragment">
		<table id="document-list">
			<thead>
				<tr>
					<th>No.</th>
					<th>제목</th>
					<th>조회수</th>
					<th>태그수</th>
					<th>사진수</th>
					<th>생성일</th>
					<th>수정일</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="document : ${list}">
					<td th:text="${document.id}">0</td>
					<td><a th:href="@{/{id}(id=${document.id}, page=${page})}" th:text="${document.title}">TITLE</a></td>
					<td th:text="${document.read_count}"></td>
					<td th:text="${#lists.size(document.tags)}"></td>
					<td th:text="${#lists.size(document.photos)}"></td>
					<td th:text="${#temporals.format(document.create_date, 'yyyy-MM-dd HH:mm')}"></td>
					<td th:text="${#temporals.format(document.update_date, 'yyyy-MM-dd HH:mm')}"></td>
				</tr>
			</tbody>
		</table>
		<div class="page-box">
			<ul>
				<th:block th:each="i : ${#numbers.sequence(1,totalPage)}">
					<li><a th:href="@{/(page=${i-1})}" th:text="${i}" th:class="${(i-1) == page} ? 'now' : ''"></a></li>
				</th:block>
			</ul>
		</div>
	</div>
</html>